# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.*.swp
.DS_Store
*.pem

# Local env files
.env
.env.local
.env.*.local

# Typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Testing
coverage/
.nyc_output

# Build
build/
